<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".View.Adapters.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusinessIdeasEvaluator"
        tools:targetApi="31">
        <activity
            android:name=".View.Activities.BookAdActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".View.Activities.TutorialCompleted"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Activities.TutorialExampleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Activities.TutorialStartUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Activities.BusinessPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Activities.CompletedTickActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Activities.RankingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Activities.BusinessNameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.Activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7283198611307380~9994287311" />
    </application>

</manifest>